@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}