// Fonts
$fontStackHeading: 'Elsie', cursive;
$fontStackBody: 'Roboto', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

// Colors
$primary-dark: #0e0b0d;
$primary-light: #f3ecf3;
$main: #b695bd;